name: Build Frontend

on:
  push:
    branches: ["master", "main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
          extensions: mbstring, intl, pdo, mysql
          tools: composer

      - name: Install composer dependencies
        run: composer install --no-dev --no-interaction --prefer-dist

      - name: Generate Ziggy routes
        run: php artisan ziggy:generate resources/js/ziggy.js

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "22"
          cache: "npm"

      - name: Install Node dependencies
        run: npm ci

      - name: Build frontend assets
        run: npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: public/build
