steps:
  - uses: actions/checkout@v3

  - name: Setup PHP
    uses: shivammathur/setup-php@v2
    with:
      php-version: "8.3"
      extensions: mbstring, intl, pdo, mysql

  - name: Install composer deps
    run: composer install --no-dev --no-interaction --prefer-dist

  - name: Generate Ziggy
    run: php artisan ziggy:generate resources/js/ziggy.js

  - name: Setup Node
    uses: actions/setup-node@v3
    with:
      node-version: "22"
      cache: "npm"

  - name: Install node deps
    run: npm ci

  - name: Build assets
    run: npm run build
